@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}

.container1{
    background-image: url(../assets/bgHeader.png);
    background-size: cover;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center ;
    background-position: center -120px;
}

.caja1{
    text-align: center;
    margin-bottom: 320px;
}
.caja1 h2 {
    color: #ff8940;
    font-size: 100px;
    margin-bottom: 10px;
}
.caja1 p {
    font-size: 39px;
    letter-spacing: 1px;
    color: #333;
    margin-bottom: 200px
}
.button1 {
    background-color:#ff974d;
    color: white;
    padding:  15px 35px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.container2 {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    gap: 260px;
}
.container2 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
.caja2 h2{
    color:#ff8940;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom:20px ;
}
.caja2 p {
    width: 500px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1.6;
}

.container3 {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 30px 25px;
    gap: 400px;
}
.container3 img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-left: 50px;
}

.caja3 h2{
    color:#ff8940;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom:20px ;
}
.caja3 p {
    width: 500px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1.6;
}

.container4 {
    background-image: url(../assets/bgDown.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    padding: 100px 40px;
    height: 60vh;
    display: flex;
    align-items: center;
}
.caja4{
    margin-left: 230px;
}

.caja4 h2{
    color:#ff8940;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom:20px ;
}
.caja4 p {
    width: 590px;
    margin-bottom: 40px;
    font-size: 17px;
    line-height: 1.6;
}
.caja4 button {
    background-color:#ff974d;
    color: white;
    padding:  15px 35px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

footer{
    background: linear-gradient(to right, #f57c00,#fca652);
    color:white;
    padding: 50px 0px 0px 0px;
}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    text-align: left;
    max-width: 1200px;
    margin: auto;
}

.footer-seccion{
    margin-bottom: 30px;
}
.footer-seccion h2{
    margin-bottom: 50px;
    font-size: 16px;
}
.footer-seccion ul {
    list-style: none;
    padding: 0;
}

.footer-seccion ul li {
    margin-bottom: 8px;
    font-size: 14px;
}

.footer-textoFinal{
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    opacity: 0.8;
    padding: 10px;
    box-shadow: 0 -4px 6px rgb(0,0,0,0.2);
    box-sizing: border-box;
}




@media (max-width: 1279px){
    .container1{
        background-position: center;
        height:88vh;
    }
    .caja1 p{
        font-size:33px ;
    }
    .container2{
        gap: 15px;
    }
    .caja2 h2 {
        font-size: 35px;
    }
    .caja2 p{
        width: 443px;
        line-height: normal;
        font-size: 14px;
    }
    .container3{
        gap: 30px;
    }
    .caja3 {
        margin-right: 46px;
    }
    .caja3 h2 {
        font-size: 36px;
    }
    .caja3 p{
        width: 430px ;
        line-height: normal;
        font-size: 14px;
    }
    .container4 {
        height: 22vh;
    }
    .caja4 {
        margin-left: 40px;
    }
    .caja4 h2 {
        font-size: 29px;
    }
    .caja4 p {
        width: 363px;
        font-size: 12px;
    }
    .caja4 button{
        padding: 10px 10px;
    }
    .footer-seccion h2 {
        margin-bottom: 19px;
    }
    .footer-seccion {
    margin-bottom: 10px;
}
}

@media (max-width:920px){

    .container1 {
        height: 70vh;
    }
    .caja1 h2 {

        margin-top: 200px;
        font-size: 94px;
    } 
     .caja1 p {
        margin-bottom: 124px;
        font-size: 28px;
     }
    .container2{
       height: 75vh; 
    }
    .container2 img {
    max-width: 46%;
    }
    .caja2 h2 {
        font-size: 28px;
    }
    .caja2 p {
        width: 370px;
    }
    .container2{
       height: 70vh; 
    }
    .container3 {
        gap: 20px;
        height: 70vh;
    }
    .container3 img {
    max-width: 46%;
    }
    .caja3 h2 {
        font-size: 28px;
    }
    .caja3 p {
        width: 365px;
    }
     
    .container4{
        padding: 70px 40px;
    }
        .caja4 h2 {
        font-size: 24px;
    }
    .caja4 p {
        width: 285px;
        font-size: 11px;
        margin-bottom: 10px;
    }
    .caja4 button {
        padding: 8px 4px;
        font-size: 11px;
    }

}

@media (max-width:768px){
    .container1 {
        height: 60vh
    }

    .caja1 h2 {
        margin-top: 196px;
        font-size: 3.5rem;
    }
    .caja1 p {
        margin-bottom: 105px;
        font-size: 1.1rem;
    }
    .container2 {
        height: 47vh;
    }
    .caja2 h2{
        font-size: 1rem;
    }
    .caja2 p{
        width: 225px;
        font-size: 0.6rem;
        margin-bottom: 9px;
    }
    .button1{
        padding: 7px 9px;
        font-size: 0.8rem;
    }
    .container2 img {
        max-width: 40%;
    }
    .container3 {
        height: 40vh;
        gap: 20px;
    }

    .caja3 h2{
        font-size: 1rem;

    }
    .caja3 p {
        width: 222px;
        font-size: 0.6rem;
        margin-bottom: 6px;
    }
    .container3 img {
        max-width: 50%;
    }

    .container4 {
        padding: 25px 0px;
    }
    .caja4 h2 {
        font-size: 1rem;
    }
    .caja4 p {
        font-size: 0.5rem;
        width: 160px;
    }
    .caja4 button {
        font-size: 0.5rem;
    }
    .footer-seccion ul li {
    font-size: 0.6rem;
    }
    .footer-seccion h2 {
    font-size:0.8rem ;
    }
    .footer-textoFinal {
        font-size: 0.6rem;
    }
}
@media (max-width:480px){
    .container1 {
        height: 33vh;
    }
    .caja1 h2 {
        margin-top: 253px;
        font-size: 2.5rem;
    }
    .caja1 p {
        font-size: 0.7rem;
        margin-bottom: 40px;
    }
    .container2{
        height: 80vh;
        flex-direction: column;
        align-items: center;
    }
    .container2 img {
        max-width: 53%
    }
    .caja2 h2 {
        font-size: 1.1rem;
    }
    .caja2 p {
        width: 301px;
        font-size: 0.7rem;
        margin-bottom: 9px;
    }
    .button1 {
        padding: 10px 19px;
    }
    .container3 {
        height: 80vh;
        flex-direction: column-reverse;
        margin: 0px 0px 40px 0px;
    }
    .container3 img {
        max-width: 56%;
        margin-left: 0;
    }
    .caja3{
        margin-right: 0;
    }
    .caja3 h2 {
        font-size: 1.1rem;
        margin-bottom: 8px;
        margin-top: 0px;
    }
    .caja3 p {
        width: 301px;
        font-size: 0.7rem;
        margin-bottom: 6px;
    }
    .container4 {
        height: 30vh;
        background-position: center;
    }
    .caja4 button {
        padding: 13px 8px;
    } 
    .caja4 h2 {
        font-size: 1rem;
        margin-bottom: 0px;
    }
    .caja4 p {
        font-size: 0.6rem;
        width: 165px;
    }
    .caja4 {
        margin-left: 12px;
    }
    .footer-seccion ul li {
    font-size: 0.5rem;
    }
    .footer-seccion h2 {
    font-size:0.5rem ;
    }
    .footer-textoFinal {
        font-size: 0.4rem;
        padding: 3PX;
    }
    .footer-container {
        height: 80px;
        flex-direction: column;
    }
    footer {
        padding: 14px 0px 0px 0px;
    }
}

.menu-toggle {
    display: none;
    background:#f9942f;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}


@media (max-width: 480px) {
    .menu-toggle {
        display: block; /* Muestra el botón en móvil */
    }
    
    .footer-container {
        display: none; /* Oculta el menú por defecto en móvil */
        flex-direction: column;
    }
    
    .footer-container.active {
        display: flex; 
        /* Muestra el menú al hacer clic */
    }
}